:root{
    --dark:#091227;
    --light:#EAF0FF;
    --white:#ffffff;
}

html,body,#root{
    margin: 0;
    width: 100%;

}

body{
    font-family: sans-serif;
    height: 100vh;
}

#root{
    background-color: var(--dark);
    color: var(--white);
}

#light{
  background-color: var(--white);
}

#dark{
  background-color: var(--dark);
}

#dark .sidbar{
  background-color: var(--dark);
}


#light .sidbar{
  background-color: var(--white);
}


a{
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* @keyframes raiseUp {
    0%   {height: 50px;}

    100% {height: 100%;}
  }


  .raiseUp{
    animation-name: raiseUp;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  } */


  .range{
    position: absolute;
    background-color: #585D6A;
    width: 100%;
    opacity: 1;
    height: 4px;
    margin: 0 auto;
  }

.mx-auto{
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 450px) {
  #root {
    max-width: 400px;
    height: 100vh;
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 450px) {
  body {
    background-color: var(--dark);
  }
}